{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block style %}
<style>
.img {
  position: relative;
}

.img i {
  top: 10%;
  left: 10%;
  position: absolute;
  transform: translate(-10%, -10%);
  color: black;
}

.img i:hover {
    color: red;
}
</style>
{% endblock %}

{% block content %}
<h1>History</h1>
<hr>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="row">
    {% for i in history %}
        <div class="col-md-4 col-lg-4 col-xl-4">
            <div class="img">
                <a href="{{ url_for('delete', username=i.username) }}"><i class="far fa-trash-alt fa-2x"></i></a>
                <a href="{{ url_for('user_profile', username=i.username, history=true) }}"><img class="rounded-circle img-fluid mx-auto d-block mt-5" src="{{ i.img }}" alt="Instagram profile image for {{ i.username }}."></a>
            </div>
            <a href="{{ url_for('user_profile', username=i.username, history=true) }}"><h4 class="text-center">{{ i.username }}</h4></a>
        </div>
    {% endfor %}
</div>
{% endblock %}
