{% extends 'layout.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-4">
        <img class="rounded-circle" src="{{ data['graphql']['user']['profile_pic_url'] }}" alt="Profile image for user {{ data['graphql']['user']['username'] }}">
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ data['graphql']['user']['username'] }}</h1>
            </div>
            <div class="col-md-4">
                <h5>{{ data['graphql']['user']['edge_owner_to_timeline_media']['count'] }} posts</h5>
            </div>
            <div class="col-md-4">
                <h5>{{ data['graphql']['user']['edge_followed_by']['count'] }} followers</h5>
            </div>
            <div class="col-md-4">
                <h5>{{ data['graphql']['user']['edge_follow']['count'] }} following</h5>
            </div>
            <div class="col-md-12">
                <h5>{{ data['graphql']['user']['full_name'] }}</h5>
                <p>{{ data['graphql']['user']['biography'].replace('\n', '<br />')|safe }}</p>
            </div>
        </div>
    </div>
</div>

<hr>

<h3 class="text-muted text-center">Posts</h3>

<div class="row mb-5">
    {% for i in data['graphql']['user']['edge_owner_to_timeline_media']['edges'] %}
    <div class="col-md-4 mb-5">
        <img class="rounded img-fluid" src="{{ i['node']['thumbnail_src'] }}" alt="">
        <div class="row">
            <div class="col-md-6">
                <i class="fas fa-heart" style="color: red;"> {{ i['node']['edge_media_preview_like']['count'] }}</i>
            </div>
            <div class="col-md-6">
                <i class="fas fa-comments" style="color: green;"> {{ i['node']['edge_media_to_comment']['count'] }}</i>
            </div>
        </div>
        <a class="stretched-link" href="{{ url_for('post', username=i['node']['owner']['username'], shortcode=i['node']['shortcode']) }}"></a>
    </div>
    {% endfor %}
</div>
{% endblock %}
