{% extends 'ig_repost/layout.html' %}

{% block content %}
    <div class="container">

      <div class="row mt-5">
        <div class="col-md-4">
          <img class="rounded-circle" src="https://scontent-ort2-2.cdninstagram.com/v/t51.2885-19/s150x150/91413647_1872394629561871_372422279298023424_n.jpg?_nc_ht=scontent-ort2-2.cdninstagram.com&_nc_ohc=kYxyICQAAawAX-Lp_3g&oh=d3f81a8f6940870464440d4d0028cdb2&oe=5F0C0099" alt="User Profile Image">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h1>thephotoadventure</h1>
                </div>
                <div class="col-md-4">
                    <h5>20 posts</h5>
                </div>
                <div class="col-md-4">
                    <h5>180 followers</h5>
                </div>
                <div class="col-md-4">
                    <h5>127 following</h5>
                </div>
                <div class="col-md-12">
                    <h5>Victor Santiago</h5>
                    <p>Location: MKE<br />DM for Collab</p>
                </div>
            </div>
        </div>
      </div>

        <hr>

        <div class="row mb-5">
            <div class="col-md-4 mb-5">
                <img class="rounded img-fluid" src="https://scontent-ort2-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/91665697_2342790122688561_1460175932934759024_n.jpg?_nc_ht=scontent-ort2-2.cdninstagram.com&_nc_cat=109&_nc_ohc=N8BreaL4gYMAX9nF1I9&oh=4f866ed2847d9c3c1e84971e62b918fb&oe=5F0961B7" alt="">
                <div class="row">
                    <div class="col-md-6">
                    <i class="fas fa-heart" style="color: red;"> 15</i>
                    </div>
                    <div class="col-md-6">
                    <i class="fas fa-comments" style="color: green;"> 6</i>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
